body {
    font-family: 'DM Serif Display', serif;
    background: linear-gradient(90deg, #0e4bb3, #211173);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
  
}

header
{
    
    height: 50px;
    display: flex;
    align-items: center;


}
.bottom-section{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;

}
.input-container
{
    width: 100%;
    max-width: 600px;
    position: relative;
}

input{
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb( blue) 0 20px 30px -10px;
    box-sizing: border-box;


}


#submit-icon
{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.images-section{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.image-container{
    width: 40%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38,57,77) 0 20px 30px -10px;

}


.image-container img{
    width: 100%;
    
}